/*task43.css*/
*{padding: 0;margin: 0;}
#pics-1,#pics-2,#pics-3,#pics-4,#pics-5,#pics-6{
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	position: relative;
	overflow: hidden;
}
#pics-1 img,#pics-2 img,#pics-3 img,#pics-4 img,#pics-5 img,#pics-6 img{
	object-fit: cover;
	transition: all 0.2s;
}

/*3*/
#pics-3 #pic1{
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height:300px;
}
#pics-3 #pic2{
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height:150px;
}
#pics-3 #pic3{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
	height:150px;
}
/*4*/
#pics-4 #pic1{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height:50%;
}
#pics-4 #pic2{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height:50%;
}
#pics-4 #pic3{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height:50%;
}
#pics-4 #pic4{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height:50%;
}
/*5*/
#pics-5 #pic1{
	float: left;
	width: 66.7%;
	height:66.7%;
}
#pics-5 #pic2{
	float: left;
	width: 33.3%;
	height: 33.3%;
}
#pics-5 #pic3{
	float: left;
	height: 66.7%;
	width: 33.3%;
}
#pics-5 #pic4{
	position: absolute;
	height: 33.3%;

	width: 33.3%;
	bottom: 0;
	left: 0;
}
#pics-5 #pic5{
	position: absolute;
	height: 33.3%;
	width: 33.3%;
	bottom: 0;
	left: 33.4%;
}
/*6*/
#pics-6 #pic1{
	float: left;
	width: 66.7%;
	height:66.7%;
}
#pics-6 #pic2{
	float: left;
	width: 33.3%;
	height: 33.3%;
}
#pics-6 #pic3{
	float: left;
	height: 33.3%;
	width: 33.3%;
}
#pics-6 #pic4{
	position: absolute;
	height: 33.3%;
	width: 33.3%;
	bottom: 0;
	left: 0;
}
#pics-6 #pic5{
	position: absolute;
	height: 33.3%;
	width: 33.3%;
	bottom: 0;
	left: 33.4%;
}
#pics-6 #pic6{
	position: absolute;
	height: 33.3%;
	bottom: 0;
	left: 66.6%;
}